{
type: file_content_fetcher:fetch
contentFetchId: uploaded:denmoth/denmoth.github.io/Denmoth.github.io-40da7259d7450447c2b08bf076c955e6a195f528/_includes/header.html
}
<header>
    <div class="header-inner">
        <div class="brand">
            <a href="/" style="color:var(--text-main); display:flex; gap:10px; align-items:center; text-decoration:none;">
                <img src="/assets/img/logo.png" alt="Denmoth" style="width:24px; height:24px; border-radius:4px;"> Denmoth
            </a>
        </div>
        <div class="controls">
            <div class="dropdown">
                <a href="/tools/" class="nav-link dropdown-btn" style="text-decoration:none;">
                    <i class="fa-solid fa-toolbox"></i> 
                    <span class="lang-en">Tools</span><span class="lang-ru">Тулзы</span>
                    <i class="fa-solid fa-chevron-down" style="font-size:0.8em; margin-left:5px;"></i>
                </a>
                <div class="dropdown-content">
                    <a href="/tools/uuid/">UUID Generator</a>
                    <a href="/tools/json-text/">JSON Text Builder</a>
                    <a href="/tools/gradient/">RGB Gradient</a>
                    <a href="/tools/pack-mcmeta/">Pack.mcmeta</a>
                    <a href="/tools/recipe/">Recipe Generator</a>
                    <a href="/tools/stack/">Stack Calculator</a>
                </div>
            </div>

            <div class="divider-v"></div>
            
            <select id="lang-select">
                <option value="en">EN</option>
                <option value="ru">RU</option>
            </select>
            <button id="theme-toggle">🌙</button>
            <button id="login-btn" class="btn-login"><i class="fa-brands fa-github"></i> <span class="lang-en">Log In</span><span class="lang-ru">Войти</span></button>
        </div>
    </div>
</header>
