<header>
    <div class="header-inner">
        <div class="brand">
            <a href="{{ '/' | relative_url }}" style="color:var(--text-main); display:flex; gap:10px; align-items:center; text-decoration:none;">
                <img src="{{ '/assets/img/logo.png' | relative_url }}" alt="D"> Denmoth
            </a>
        </div>
        <div class="controls">
            <div class="dropdown">
                <a href="{{ '/tools/' | relative_url }}" class="nav-link dropdown-btn" style="text-decoration:none;">
                    <i class="fa-solid fa-toolbox"></i> 
                    <span class="lang-en">Tools</span><span class="lang-ru">Тулзы</span>
                    <i class="fa-solid fa-chevron-down" style="font-size:0.8em; margin-left:5px;"></i>
                </a>
                <div class="dropdown-content">
                    <a href="{{ '/tools/uuid/' | relative_url }}">UUID Generator</a>
                    <a href="{{ '/tools/json-text/' | relative_url }}">JSON Text Builder</a>
                    <a href="{{ '/tools/gradient/' | relative_url }}">RGB Gradient</a>
                    <a href="{{ '/tools/pack-mcmeta/' | relative_url }}">Pack.mcmeta</a>
                    <a href="{{ '/tools/recipe/' | relative_url }}">Recipe Generator</a>
                    <a href="{{ '/tools/stack/' | relative_url }}">Stack Calculator</a>
                </div>
            </div>

            <div class="divider-v"></div>
            
            <select id="lang-select">
                <option value="en">EN</option>
                <option value="ru">RU</option>
            </select>
            <button id="theme-toggle">🌙</button>
            <button id="login-btn" class="btn-login"><i class="fa-brands fa-github"></i> <span class="lang-en">Log In</span><span class="lang-ru">Войти</span></button>
        </div>
    </div>
</header>
