html { scroll-behavior: smooth; }
* { box-sizing: border-box; margin: 0; padding: 0; }

body { 
    background-color: var(--bg-body); 
    color: var(--text-main); 
    font-family: var(--font-main); 
    line-height: 1.5;
    font-size: 16px; 
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    transition: background-color 0.3s, color 0.3s; 
}

a { color: #58a6ff; text-decoration: none; transition: 0.2s; }
a:hover { text-decoration: underline; }
