<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body class="lang-en">
    <div class="wrapper">
        {% include header.html %}
        
        <main style="width:100%; display:flex; flex-direction:column; flex:1;">
            {{ content }}
        </main>

        <footer class="footer">
            <div class="socials">
                <a href="https://discord.com/invite/BCXqNfPnSh" title="Discord"><i class="fa-brands fa-discord"></i></a>
                <a href="https://github.com/Denmoth" title="GitHub"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.curseforge.com/members/denmoth/projects" title="CurseForge"><i class="fa-solid fa-fire"></i></a> 
                <a href="https://modrinth.com/user/Denmoth" title="Modrinth"><i class="fa-solid fa-cube"></i></a>
            </div>
            © 2026 Denmoth
        </footer>
    </div>
    <script src="/assets/js/main.js"></script>
</body>
</html>
